@font-face {
    font-family: 'futura';
    src: url('futur.woff') format('woff'), /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
         url('futur.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
} 

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: rgb(255,255,255);
}

.board, .cell {
    background-color: rgb(255,205,85);
}

.board {
    outline: 2px solid black;
    width: 700px;
    height: 700px;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
}

.cell {
    font-size: 10em;
    color: rgb(69, 12, 134);
}

.newGameButton {
    background-color: black;
    color: white;
    border-radius: 1em;
    padding: 1em;
    font-family: futura;
}